[workspace]
resolver = "3"
edition = "2024"
members = ["gtars-cli", "gtars-python", "gtars-wasm", "gtars-r/src/rust", "gtars-core", "gtars-refget", "gtars-uniwig", "gtars-overlaprs", "gtars-tokenizers", "gtars-io", "gtars-bbcache", "gtars-igd", "gtars-fragsplit", "gtars-scoring", "gtars"]

[workspace.dependencies]
anyhow = "1.0.82"
fxhash = "0.2.1"
serde = { version = "1.0.203", features=["derive"] }
flate2 = "1.1.2"
indicatif = "0.18.0"
serde_json = "1.0.135"
byteorder = "1.5.0"
extendr-api = "=0.8.0"
extendr-ffi = "=0.8.0"

[patch.crates-io]
extendr-api = "=0.8.0"
extendr-ffi = "=0.8.0"

[patch."https://github.com/databio/gtars"]
gtars-core = { path = "gtars-core" }
gtars-io = { path = "gtars-io" }
gtars-igd = { path = "gtars-igd" }
gtars-refget = { path = "gtars-refget" }
gtars-tokenizers = { path = "gtars-tokenizers" }