name: Build and publish WASM bindings to NPM

on:
  release:
    types: [created]
  workflow_dispatch:

permissions:
  contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Install wasm-pack
              run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
            - name: Build bindings
              run: |
                wasm-pack build --release --target web gtars-wasm
            - uses: actions/setup-node@v4
              with:
                node-version: '20.x'
                registry-url: 'https://registry.npmjs.org'
            - name: Publish to NPM
              run: |
                npm publish --access public gtars-wasm/pkg
            
            